{% extends 'admin/base.html' %}

{% block head %}
{{ super() }}

<!-- Подключаем ЛОКАЛЬНЫЙ Bootstrap -->
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">

<!-- FontAwesome (локально) -->
<link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">

<!-- Кастомные стили -->
<style>
    /* Растягиваем админку на всю ширину */
    .container {
        max-width: 100% !important;
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .container-fluid {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .row {
        margin: 0 !important;
    }
    .col-md-12 {
        padding: 0 !important;
    }
    .table {
        width: 100% !important;
    }
    .form-control {
        max-width: 100% !important;
    }
    .modal-dialog {
        max-width: 90% !important;
    }
</style>
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- Подключаем ЛОКАЛЬНЫЙ JS -->
<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
{% endblock %}

{% block page_body %}
<div class="container-fluid">
    {{ super() }}
</div>
{% endblock %}